{% extends 'base.html' %}

{% block content %}
  
    <!-- INICIAR SESION -->
    <div class="content login">
        <!-- Slider
                ================================================== -->
        <section class="page-title bg-theme">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h2>Modificar Perro</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-6 m-auto">
                {% if perms.perro.change_perro %}
                <form action="" method="POST" enctype="multipart/form-data" class="bg-light card form-accounts p-4 m-4">
                    {% csrf_token %}
                        {{ form }}
                        {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                        <button class="btn btn-primary btn-block mt-3" type="submit">Modificar <i class="fa fa-chevron-right"></i></button>
                    </form>
                {% else %}
                    <div class="col-12 mb-4">
                        <ul class="errorlist">
                            <li>Acceso Denegado: Debes ser administrador para Agregar Perritos.</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

    </section>

{% endblock %}