{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content home">
    <!-- Slider
    ================================================== -->
    <section class="banner bg-theme">
        <h2 class="sr-only">Nuestros Perris</h2>
        <div id="slider-home" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider-home" data-slide-to="0" class="active"></li>
                <li data-target="#slider-home" data-slide-to="1"></li>
                <li data-target="#slider-home" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active"> <img class="d-block w-100" src="{% static '/images/adoptados/Apolo.jpg' %}"
                        alt="Primer slide">
                </div>
                <div class="carousel-item"> <img class="d-block w-100" src="{% static '/images/adoptados/Duque.jpg' %}"
                        alt="Segundo slide">
                </div>
                <div class="carousel-item"> <img class="d-block w-100" src="{% static '/images/adoptados/Tom.jpg' %}"
                        alt="Tercer slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#slider-home" role="button" data-slide="prev"> <span class="carousel-control-prev-icon"
                    aria-hidden="true"></span> <span class="sr-only">Anterior</span> </a>
            <a class="carousel-control-next" href="#slider-home" role="button" data-slide="next"> <span class="carousel-control-next-icon"
                    aria-hidden="true"></span> <span class="sr-only">Siguiente</span> </a>
        </div>
    </section>
    <!-- Informacion
    ================================================== -->
    <section class="info bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <h5 class="mt-2">+56 9 95566022</h5>
                </div>
                <div class="col-lg-6 text-center">
                    <h1>Rescate y adopción de perros callejeros</h1>
                </div>
                <div class="col-lg-3">
                    <ul class="list-inline text-center social">
                        <li class="list-inline-item">
                            <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Acerca de
    ================================================== -->
    <section id="about-us" class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <div class="title">
                        <h3 class="text-uppercase">Rescate</h3> <span class="text-uppercase text-secondary">Etapa
                            uno</span>
                    </div>
                    <div class="image mt-4"> <img class="w-100 rounded" src="{% static '/images/rescate.jpg' %}" alt="Etapa Uno - Rescate">
                    </div>
                    <p class="mt-4">Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los
                        preparamos para buscarles un hogar.</p>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="image"> <img class="w-100 rounded" src="{% static '/images/crowfunding.jpg' %}" alt="Etapa Dos - Financiamiento">
                    </div>
                    <div class="title mt-4">
                        <h3 class="text-uppercase">Crowdfunding</h3> <span class="text-uppercase text-secondary">Financiamiento</span>
                    </div>
                    <p class="mt-4">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y
                        actividades que realizamos para obtener financiamiento para seguir ayudando. </p>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- Galeria
    ================================================== -->
    <section id="gallery" class="gallery bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center text-uppercase text-white mt-5">Conoce a nuestros perris</h3>
                </div>
                <div class="col-12 mt-5">
                    <h4 class="text-white">Rescatados</h4>
                </div>
                {% for perro in perros %}
                    {% if perro.estado == rescatado %}
                        <div class="col-12 col-sm-3">
                            <a data-fancybox="gallery-rescatados" href="{{ perro.foto.url }}"
                                data-caption="{{ perro.descripcion }}"><img alt="{{ perro.foto.url }}" class="w-100"
                                    src="{{ perro.foto.url }}"></a>
                            <h4 class="text-white font-weight-normal mt-3">{{ perro.nombre }}</h4>
                        </div>
                    {% endif %}
                        
                {% endfor %}
                    
                
            </div>
            <div class="row">
                <div class="col-12 mt-5">
                    <h4 class="text-white">Disponibles</h4>
                </div>
                {% for perro in perros %}
                {% if perro.estado == disponible %}
                    <div class="col-12 col-sm-3">
                        <a data-fancybox="gallery-rescatados" href="{{ perro.foto.url }}"
                            data-caption="{{ perro.descripcion }}"><img alt="{{ perro.foto.url }}" class="w-100"
                                src="{{ perro.foto.url }}"></a>
                        <h4 class="text-white font-weight-normal mt-3">{{ perro.nombre }}</h4>
                    </div>
                {% endif %}
                    
            {% endfor %}
            </div>
            <div class="row">
                    <div class="col-12 mt-5">
                        <h4 class="text-white">Adoptados</h4>
                    </div>
                    {% for perro in perros %}
                    {% if perro.estado == adoptado %}
                        <div class="col-12 col-sm-3">
                            <a data-fancybox="gallery-rescatados" href="{{ perro.foto.url }}"
                                data-caption="{{ perro.descripcion }}"><img alt="{{ perro.foto.url }}" class="w-100"
                                    src="{{ perro.foto.url }}"></a>
                            <h4 class="text-white font-weight-normal mt-3">{{ perro.nombre }}</h4>
                        </div>
                    {% endif %}
                        
                {% endfor %}
                </div>
        </div>
    </section>
    {% endblock %}
</div>